@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #171810;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

ul {
  display: flex;
}

ul li {
  list-style: none;
  color: #fff;
  font-size: 14.1vw;
  font-weight: bold;
  letter-spacing: 1.5vw;
}

ul:hover li {
  animation: anim 2.5s linear infinite;
}

@keyframes anim {
  0% {
    transform: rotate(0deg) translateY(0vw);
    opacity: 1;
    filter: blur(0.2vw);
  }
  100% {
    transform: rotate(45deg) translateY(-30vw);
    opacity: 0;
    filter: blur(3vw);
  }
}

ul li:nth-child(1) {
  animation-delay: 0s;
}

ul li:nth-child(2) {
  animation-delay: 0.2s;
}

ul li:nth-child(3) {
  animation-delay: 0.4s;
}

ul li:nth-child(4) {
  animation-delay: 0.6s;
}

ul li:nth-child(5) {
  animation-delay: 0.8s;
}

ul li:nth-child(6) {
  animation-delay: 1s;
}

ul li:nth-child(7) {
  animation-delay: 1.2s;
}

ul li:nth-child(8) {
  animation-delay: 1.4s;
}

ul li:nth-child(9) {
  animation-delay: 1.6s;
}