* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background: linear-gradient(to right, #fc466b, #3f5efb);
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu_btn {
  display: flex;
  flex-direction: column;
  gap: 8px;
  cursor: pointer;
}

.menu_btn .line {
  width: 28px;
  height: 2px;
  background-color: #fff;
  transform-origin: left;
  transition: transform 0.5s ease, opacity 0.2s ease;
}

.menu_btn .middle_line {
  transition-delay: 0.3s;
}

.menu_btn.open .middle_line {
  opacity: 0;
  transition-delay: 0s;
}

.menu_btn.open .top_line {
  transform: rotate(45deg);
}

.menu_btn.open .bottom_line {
  transform: rotate(-45deg);
}