@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  color: #fff;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.background {
  height: 100vh;
  width: 100vw;
  background: url(background.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: -1;
  filter: blur(15px);
}

.container {
  height: 200px;
  width: 400px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container input {
  margin-top: 20px;
  height: 45px;
  width: 75%;
  border-radius: 10px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  outline: none;
  background: transparent;
  color: #fff;
  font-size: 16px;
  padding: 0 5px;
}

::placeholder {
  color: #fff;
}