@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #000;
  color: #fff;
  overflow-y: scroll;
}

.section_faq {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section_faq h1 {
  font-size: 3rem;
}

.section_faq ul {
  margin: 3rem auto;
  width: 75%;
  max-width: 900px;
}

.section_faq ul li {
  list-style: none;
  margin-bottom: 8px;
}

.section_faq .question {
  margin-top: 1px;
  padding: 20px;
  width: 100%;
  background-color: #303030;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 24px;
  font-weight: 400;
  cursor: pointer;
}

.section_faq .icon {
  margin-left: 1rem;
  font-size: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.25s ease-in-out;
}

.section_faq .answer {
  max-height: 0;
  background-color: #303030;
  overflow: hidden;
  font-size: 20px;
  transition: max-height 0.25s cubic-bezier(0.5, 0, 0.1, 1);
}

.section_faq .answer span {
  display: inline-block;
  padding: 1.2rem;
}

.section_faq .question.open + .answer {
  max-height: 1200px;
}

.section_faq .question.open > .icon {
  transform: rotate(45deg);
}