@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root {
  --light-yellow: #f2e18f;
  --dark-yellow: #eec222;
}

body {
  height: 100vh;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.boxes {
  position: relative;
  width: 500px;
  height: 500px;
  display: grid;
  place-items: ce ;
  grid-template-columns: repeat(4, 1fr);
  transition: 0.5s ease-out;
}

.boxes:hover {
  width: 600px;
  height: 600px;
}

.box {
  width: 125px;
  height: 125px;
  background-image: url(chunsik.gif);
  background-repeat: no-repeat;
  background-size: 500px 500px;
  transition: 0.5s ease-out;
}

.boxes:hover .box {
  transform: rotateZ(360deg);
}

.box::before {
  content: '';
  position: absolute;
  left: 5px;
  bottom: -10px;
  height: 10px;
  width: 100%;
  background-color: var(--dark-yellow);
  transform: skewX(45deg);
}

.box::after {
  content: '';
  position: absolute;
  top: 5px;
  right: -10px;
  height: 100%;
  width: 10px;
  background-color: var(--light-yellow);
  transform: skewY(45deg);
}