* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

.container {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100%;
}

article {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    scroll-snap-align: start;
}

.one {
    background: green;
}

.two {
    background: orangered;
}

.three {
    background: blueviolet;
}

.four {
    background: orange;
}